@font-face {
	font-family: SFNewRepublic;
	src: url('SFNewRepublic.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid red; */
}

body {
	font-family: SFNewRepublic;
	color: white;
	font-size: 1.8em;
	background: url('https://images.pexels.com/photos/247676/pexels-photo-247676.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
	background-position: center;
	background-size: cover;
}


main {
	width: 100vw;
	height: 97vh;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#title h1 {
	padding-bottom: 0.75em;
}

#title #sub {
	padding-bottom: 0.5em;
}

form {
	width: 70%;
	margin-bottom: 0.5em;
}

#txtQuery {
	border: 1px solid gray;
	padding: 0.5em;
	width: 50%;
}

#btnQuery {
	padding: 0.5em;
	border: none;
	background: blue;
	color: white;
}

#loader {
	margin: 0.5em;
	border: 1px;
	animation: rotate 2s linear infinite;
}

#loader .circle {
	background: pink;
	width: 0.5em;
	height: 0.5em;
	margin-bottom: 1em;
	border-radius: 50%;
}

.inactive {
	display: none;
}

#results {
	font-family: Arial, Helvetica, sans-serif;
	width: 70%;
	height: 40vh;
	padding: 0.5em;
}

#kb-display {
	height: 100%;
}

#filter {
	width: 100%;
}
#kb-display #found-questions {
	height: 100%;
	overflow-y: scroll;
	text-align: left;
	background: black;
	opacity: 0.8;
	color: white;
	font-size: 0.4em;
}

#kb-display .found-question {
	display: flex;
	border-bottom: 2px solid white;
	padding: 0.25em;
	justify-content: space-between;
}
.error {
	color: red;
	font-size: 0.75em;
}
#kb-display .found-question * {
	flex-basis: 50%;
}
a {
	color: white;
}
#credit {
	background: black;
	color: white;
	float: right;
	padding: 0.2em;
	font-size: 0.4em;
}
@media(max-width: 767px) {
	#title h1 {
		padding-bottom: 0.25em;
	}
	form {
		width: 90%;
	}
	#txtQuery {
		width: 100%;
	}
	#results {
		width: 90%;
		padding: 0.25em;
	}
	#btnQuery {
		display: block;
		margin: 0.25em auto;
	}
	#kb-display .found-question {
		flex-direction: column;
	}
}
@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}